# STRING

In [41]:
name = 'John'
surname = 'Doe'
age = '25'

**String Concanate Operations**

In [42]:
print('Name: '+ name + ' Surname: ' + surname + ' Age: ' + age)   

print('Name: '+ name + '\nSurname: ' + surname + '\nAge: ' + age)

Name: John Surname: Doe Age: 25
Name: John
Surname: Doe
Age: 25

In [43]:
print(len(name))
print(name[0])
print(name[-1])
print(name[0:3])
print(name[1:])
print(name[:2])
print(name[0:4:2])
print(name[::])

4
J
n
Joh
ohn
Jo
Jh
John

In [44]:
print('My name is {}'.format(name))
print('My name is {} {}'.format(name,surname))

My name is John
My name is John Doe

In [45]:
print('My name is {1} {0}'.format(name,surname))
print('My name is {n} {s}'.format(n = name ,s= surname))

My name is Doe John
My name is John Doe

In [46]:
result = 10 / 2
print('The result is {}'.format(result))

The result is 5.0

In [47]:
result = 200 / 700
print('The result is {r:1.3}'.format(r = result))
print('The result is {r:.3}'.format(r = result))

The result is 0.286
The result is 0.286

In [48]:
print(f"My name is {name} {surname}")

My name is John Doe

In [49]:
message = 'Hello There. My name is John Doe'

In [50]:
message_upper = message.upper()
message_lower = message.lower()
message_title = message.title()
message_capitalize = message.capitalize()
print(f"Upper: {message_upper}\nLower: {message_lower}\nTitle: {message_title}\nCapitalize: {message_capitalize}")

Upper: HELLO THERE. MY NAME IS JOHN DOE
Lower: hello there. my name is john doe
Title: Hello There. My Name Is John Doe
Capitalize: Hello there. my name is john doe

In [51]:
message = 'Hello There. My name is John Doe'
message_strip = message.strip()
message_split = message.split()
message = 'Hello There. My name is John Doe'
message_split_dot= message.split('.')
print(f"Strip: {message_strip}\nSplit: {message_split}\nSplit Dot: {message_split_dot}")

Strip: Hello There. My name is John Doe
Split: ['Hello', 'There.', 'My', 'name', 'is', 'John', 'Doe']
Split Dot: ['Hello There', ' My name is John Doe']

In [52]:
message_join = ' '.join(message)
print(f"Join: {message_join}")

Join: H e l l o   T h e r e .   M y   n a m e   i s   J o h n   D o e

In [57]:
index_one  = message.find('John')  
index_two = message.find('Jessica') 
print(f"Index One: {index_one}\nIndex Two: {index_two}")

Index One: -1
Index Two: 56

In [58]:
isFound_h = message.startswith('H') 
isFound_e = message.endswith('e')   
print(f"Is Found H: {isFound_h}\nIs Found E: {isFound_e}")

Is Found H: False
Is Found E: False

In [59]:
message = 'Hello There. My name is John Doe'
message_replace_name = message.replace('John','Jessica') 
message_replace_whitespace = message.replace(' ', '*')    
print(f"Replace Name: {message_replace_name}\nReplace White Space: {message_replace_whitespace}")

Replace Name: Hello There. My name is Jessica Doe
Replace White Space: Hello*There.*My*name*is*John*Doe

In [60]:

message = message.center(100) 
message = message.center(100,'*') 

result = message.count('a') 
result = message.count('a',0,10) 

print(message)
print(result)

                                  Hello There. My name is John Doe
0